<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>
        Hello from Flask
    </title>
    </head>
<body>
   <form method = "POST" action="/">
<H3 align="center">Введите данные о новом корабле </H3>
<table align="center" >
<tr>
<td>Название cудна </td>
<td><input type="text" name="название" required placeholder="Введите текст"></td>
</tr>
<tr>
<td>Страна судна</td>
<td><input type="text" name="страна" required placeholder="Введите текст" ></td>
</tr>
<tr>
<td>Год постройки</td>
<td><input  type="text" name="год" required placeholder="Введите текст" ></td>
</tr>
<tr>
<td><input type="submit"  value="Отправить"  content="0 "></td>
</tr>
</table>
</form>
</body>
</html>