<!DOCTYPE html>
<html>
   <title>Изменить корабль</title>
   <body>
      <h3 align="center">
         <a href = "{{ url_for('result') }}"> Главная страница </a>
      </h3>
      <hr/>
<div align="center">
      <form action = "{{ url_for('edit') }}" method = "POST">
         <label for = "name">Имя</label><br>
         <input type = "text" name = "name" placeholder = "Name"
         /><br>

         <label for = "country">Country</label><br>
        <select name="country">
            {%- for country in countries %}
               <option value=" {{ country }} ">
                            {{ country }}
               </option>
            {%- endfor %}
         </select>
        <br>
        <label for = "zise">Размер</label><br>
         <input type = "text" name = "size"
         /><br>

         <label for = "ship_description">Описание судна</label><br>
         <textarea name = "ship_description"
                   placeholder = "Description of ship"
         ></textarea><br>

         <label for = "built_year">Год постройки</label><br>
         <input type = "text" name = "built_year" placeholder = "2000"
               /><br>

         <input type = "submit" value = "Изменить" />
      </form>
   </div>
   </body>
</html>